@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.container-header {
  max-width: 1350px;
  margin: 0 auto;
  padding: 20px;
}

.title-1 {
  @apply text-3xl font-semibold;
}

.title-2 {
  @apply text-2xl font-semibold;
}

.title-3 {
  @apply text-base font-medium;
}

.sub-title {
  @apply text-[14px];
}

.product {
  @apply p-3 bg-[#f9f9f9] w-full border-[1px] border-[#ddd] rounded-md;
}

.skeleton {
  width: 100%;
  height: 50px;
  position: relative;
  box-shadow: 0 2px 10px 0 #e2eef1;
  background: #e2eef1;
  overflow: hidden;
}

.skeleton::before {
  content: "";
  display: block;
  position: absolute;
  left: -150px;
  top: 0;
  height: 100%;
  width: 80%;
  background: linear-gradient(
    to right,
    transparent 0%,
    #fff 50%,
    transparent 100%
  );
  animation: load 1s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes load {
  from {
    left: -150px;
  }

  to {
    left: 100%;
  }
}

.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid black;
  border-color: black transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
